
@media screen and (max-width: 1152px) {

    #page-wrap,
    #footer{
      padding: 0 1%;
    }

}

@media screen and (max-width: 960px) {
  
  body aside,
  body #content,
  #top-area .column,
  #footer-area .column{
    float: none !important;
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
    clear: both;
  }

  #page-wrap,
  #footer{
    padding: 0;
  }

  .container-wrap{
    margin: 0 15px;
  }

  #top-area .column{
    padding: 15px !important;
  }

  .bottom_widget #footer-area .column{
    padding: 15px !important;
    margin: 15px 0 !important;
  }

  #footer,
  .bottom_widget #footer-area{
    padding: 0 15px;
  }

  #footer-area{
    margin: 0;
  }

  #page-wrap {
    box-shadow: none;
    border: 0;
  }

  .top_right .region-search{ float: none; }

  .social-icons,
  .footer_credit .copyright{
    width: 100%;
    margin: 10px 0;
    text-align: center;
  }

  .region-search{
    margin: 10px auto;
    width: 200px;
    float: none;
  }

  .nivo-caption {
    display: none !important;
  }

  .theme-default .nivo-controlNav {
    bottom: 10px;
  }

}

@media screen and (max-width: 640px) {

  #logo,
  #site-title{
    display: inline-block;
    text-align: center;
    float: none;
    vertical-align: top;
  }

  .top_right .region-user-menu ul.menu{
    float: none;
    text-align: center;
  }

  .logo_wrap,
  #header .region {
    float: none;
    width: 100%;
    overflow: hidden;
    text-align: center;
    padding: 5px 0;
  }

  #header .region ul{
    text-align: center;
  }

  .menu-wrap{  
    background: #333;
    overflow: hidden;
  }

  #main-menu ul {
    display: none;
  }

  #main-menu li ul {
    position: static;
    border: 0;
  }

  #main-menu li ul ul {
    margin: 0 !important;
    border: 0;
  }

  #main-menu ul,
  #main-menu li {
    float: none;
    width: 100%;
  }

  #main-menu {
    border: 0;
    float: none;
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    right: 0;
  }

  #main-menu a {
    width: 100%;
    padding: 15px 0;
    color: #fff;
    border-radius: 0;
    margin: 0;
    text-align: center;
    border-bottom: 1px solid #181818;
  }

  #main-menu li li a {
    text-align: center;
    font-size: 13px;
    background: #0D0D0D;
    border-bottom: 1px solid #1B1B1B;
    color: #989898;
    padding: 15px 0;
  }

  #main-menu li a.active{
    border-bottom: 1px solid #181818; 
  }

  #main-menu li:hover > ul,
  #main-menu li li:hover > ul,
  #main-menu li li li:hover > ul {
    display: none;
  }

  .drop-down-toggle {
    display: block;
  }

  #main-menu .nav-toggle {
    display: block;
    font-size: 15px;
    font-weight: normal;
    background: #18222B;
    color: white;
    margin: 0;
    letter-spacing: 1px;
    text-align: center;
    background: url(../images/mobile-menu.png) right 14px #18222B no-repeat;
    padding: 15px;
    width: 50px;
    font-size: 0;
    height: 45px;  
  }

  #main-menu li li.expanded > a {
    background: none;
  }

  #main-menu ul.menu li {
    margin: 0;
    width: 100%;
  }

  #header{
    margin-top: 45px;
    padding: 5px 10px;
  }

  #top-area .column img,
  #footer-area .column img{
    width: 100%;
  }

  .page-gallery .region-content .view-gallery .views-row{
    width: 50%;
  }

  #header .region-search {
    margin: 10px auto;
    width: 200px;
    padding: 0;
  }

}
/*
 *   Social Icons in Nivo Slider
 */	
#social #soccontainer {
  text-align: center;
}

#social #soccontainer ul {
  display: inline-block;
}

#social #soccontainer ul li {
  float: left;
  padding: 15px;
  list-style-type: none;
}