.ctools-locked{color:red;border:1px solid red;padding:1em;}.ctools-owns-lock{background:#FFFFDD none repeat scroll 0 0;border:1px solid #F0C020;padding:1em;}a.ctools-ajaxing,input.ctools-ajaxing,button.ctools-ajaxing,select.ctools-ajaxing{padding-right:18px !important;background:url(/sites/all/modules/contrib-patched/ctools/images/status-active.gif) right center no-repeat;}div.ctools-ajaxing{float:left;width:18px;background:url(/sites/all/modules/contrib-patched/ctools/images/status-active.gif) center center no-repeat;}
#views-slideshow-form-wrapper .form-item.dependent-options{padding-left:5px;}#views-slideshow-form-wrapper .vs-dependent{padding-left:30px;}
.wrapper.tagadelic{text-align :justify;margin-right:1em;}.tagadelic.level1{font-size :1em;}.tagadelic.level2{font-size :1.2em;}.tagadelic.level3{font-size :1.4em;}.tagadelic.level4{font-size :1.6em;}.tagadelic.level5{font-size :1.8em;}.tagadelic.level6{font-size :2em;}.tagadelic.level7{font-size :2.2em;}.tagadelic.level8{font-size :2.4em;}.tagadelic.level9{font-size :2.6em;}.tagadelic.level10{font-size :2.8em;}
span.ext{background:url(/sites/all/modules/extlink/extlink.png) right center no-repeat;padding-right:12px;}span.mailto{background:url(/sites/all/modules/extlink/mailto.png) right center no-repeat;padding-right:12px;}@media print{span.ext,span.mailto{display:none;padding:0;}}
